


.pesquisa{
  text-align: center;

  padding: 0.8rem;
  margin-bottom: 0.8rem;

input{
  margin-right: 0.8rem;
  height: 2.8rem;
  width: 28rem;
  border-style: none;
  border-radius: 0.2rem;
  margin-top: -10rem;
  margin-bottom: 0.2rem;
}

button{
  
  height: 2.8rem;
  width: 10rem;
  border-style: none;
  border-radius: 0.2rem;
  background: var(--green);
  color: white;
}


}